# Xcode
# =========================
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xsyncdir
*.sharedparameter
.DS_Store
coerced

# Personal / Temp files
# =========================
*.log
tmp/
temp/
.antigravityignore
